<a href="https://colab.research.google.com/github/Edan1222/introduction-to-Computers/blob/main/410600745.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
password=12
enter=int(input("輸入密碼:"))

while enter !=password:
  if enter < password:
    print("猜得太小囉!請加油!")
  else:
    print("猜得太大囉!加油!")
  enter=int(input("請輸入密碼:"))
  print("恭喜答對!")

輸入密碼:55
猜得太大囉!加油!
請輸入密碼:44
恭喜答對!
猜得太大囉!加油!
請輸入密碼:77
恭喜答對!
猜得太大囉!加油!
請輸入密碼:12
恭喜答對!

In [ ]:
ra = input("今天會下雨嗎?")
if(ra=="Y" or ra=="y"):
  print("要記得帶傘喔!")
else:
  print("不用帶傘喔")

今天會下雨嗎?n
不用帶傘喔

In [ ]:
i=int(input("請輸入正整數:"))
if(i%2==0):
    print(i,"為偶數")
else:
    print(i,"為奇數")

請輸入正整數:88
88 為偶數

In [ ]:
temp= float(input("請輸入你的體溫"))
if temp >= 37.5:
  print("體溫過高!")
elif temp >= 37 and temp < 37.4:
  print("體溫略高!")
elif temp >= 34 and temp <=36.9:
  print("體溫正常!")
else:
  print("體溫異常,請重新測量!")

請輸入你的體溫36
體溫正常!

In [ ]:
score = input("請輸入成績")
if (int(score)>=90):
  print("A")
elif(int(score)>=80):
  print("B")
elif(int(score)>=70):
  print("C")
elif(int(score)>=60):
  print("D")
else:
  print("E")

請輸入成績79
C

In [ ]:
revenue=int(input("請輸入今年收入淨額:"))
if(revenue>=300000):
  if(revenue>=2000000):
    print("付稅金額:",revenue*0.3,end="元\n")
  elif(revenue>=1000000):
    print("付稅金額:",revenue*0.21,end="元\n")
  elif(revenue>=600000):
    print("付稅金額:",revenue*0.13,end="元\n")
  else:
    print("付稅金額:",revenue*0.06,end="元\n")
else:
  print("不用繳稅")

請輸入今年收入淨額:455555
付稅金額: 27333.3元

In [ ]:
a=int(input("請輸入月份:"))
if (a==3 or a==4 or a==5):
  print(a,"月是春天!")
elif(a==6 or a==7 or a==8):
  print(a,"月是夏天!")
elif(a==9 or a==10 or a==11):
  print(a,"月是秋天!")
elif(a==12 or a==1 or a==2):
  print(a,"月是冬天!")
else:
  print("月分不再範圍內!")

請輸入月份:4
4 月是春天!

In [ ]:
money=int(input("請輸入購物金額:"))
if(money>=10000):
  if(money>=100000):
    print("八折",money*0.8,end="元\n")
  elif(money>=50000):
    print("八五折",money*0.85,end="元\n")
  elif(money>=30000):
    print("九折",money*0.9,end="元\n")
  else:
    print("九五折",mpney*0.95,end="元\n")
else:
  print("沒打折",mpney,end="元\n")

請輸入購物金額:12222222
八折 9777777.6元

In [ ]:
test=int(input('請輸入一個正整數:'))
sum=0
for n in range(test):
 sum=sum+n
print("1到",test,"的整數和為",sum)

請輸入一個正整數:45
1到 45 的整數和為 990

In [ ]:
sum=0
test=int(input("請輸入一個正整數:"))
for n in  range(1,test+1):
  sum=sum+n
  print('一到',test,"的整數和為",sum)

請輸入一個正整數:50
一到 50 的整數和為 1
一到 50 的整數和為 3
一到 50 的整數和為 6
一到 50 的整數和為 10
一到 50 的整數和為 15
一到 50 的整數和為 21
一到 50 的整數和為 28
一到 50 的整數和為 36
一到 50 的整數和為 45
一到 50 的整數和為 55
一到 50 的整數和為 66
一到 50 的整數和為 78
一到 50 的整數和為 91
一到 50 的整數和為 105
一到 50 的整數和為 120
一到 50 的整數和為 136
一到 50 的整數和為 153
一到 50 的整數和為 171
一到 50 的整數和為 190
一到 50 的整數和為 210
一到 50 的整數和為 231
一到 50 的整數和為 253
一到 50 的整數和為 276
一到 50 的整數和為 300
一到 50 的整數和為 325
一到 50 的整數和為 351
一到 50 的整數和為 378
一到 50 的整數和為 406
一到 50 的整數和為 435
一到 50 的整數和為 465
一到 50 的整數和為 496
一到 50 的整數和為 528
一到 50 的整數和為 561
一到 50 的整數和為 595
一到 50 的整數和為 630
一到 50 的整數和為 666
一到 50 的整數和為 703
一到 50 的整數和為 741
一到 50 的整數和為 780
一到 50 的整數和為 820
一到 50 的整數和為 861
一到 50 的整數和為 903
一到 50 的整數和為 946
一到 50 的整數和為 990
一到 50 的整數和為 1035
一到 50 的整數和為 1081
一到 50 的整數和為 1128
一到 50 的整數和為 1176
一到 50 的整數和為 1225
一到 50 的整數和為 1275

In [ ]:
for i in range(2,10):
  for j in range(1,10):
    product=i*j
    print("%d*%d=%2d  "%(i,j,product),end="")
  print()

2*1= 2  2*2= 4  2*3= 6  2*4= 8  2*5=10  2*6=12  2*7=14  2*8=16  2*9=18
3*1= 3  3*2= 6  3*3= 9  3*4=12  3*5=15  3*6=18  3*7=21  3*8=24  3*9=27
4*1= 4  4*2= 8  4*3=12  4*4=16  4*5=20  4*6=24  4*7=28  4*8=32  4*9=36
5*1= 5  5*2=10  5*3=15  5*4=20  5*5=25  5*6=30  5*7=35  5*8=40  5*9=45
6*1= 6  6*2=12  6*3=18  6*4=24  6*5=30  6*6=36  6*7=42  6*8=48  6*9=54
7*1= 7  7*2=14  7*3=21  7*4=28  7*5=35  7*6=42  7*7=49  7*8=56  7*9=63
8*1= 8  8*2=16  8*3=24  8*4=32  8*5=40  8*6=48  8*7=56  8*8=64  8*9=72
9*1= 9  9*2=18  9*3=27  9*4=36  9*5=45  9*6=54  9*7=63  9*8=72  9*9=81

In [ ]:
a=int(input("請輸入a的值"))
b=int(input("請輸入b的值"))

maxno=a*b
for i in range (1,maxno+1):
  if(i % a == 0 and i % b == 0):
    break
print("%d和 %d的最小公倍數 = %d"%(a,b,i))

請輸入a的值45
請輸入b的值55
45和 55的最小公倍數 = 495

In [ ]:
n=int(input("請輸入正整數:"))
for i in range(1,n+1):
  if i % 5 == 0:
    continue
  print(i,end=" ")

請輸入正整數:45
1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44

In [ ]:
total = n = 0
while(n<= 10):
  total += n
  n+=1
print(total)

55

In [ ]:
total=i=1
n=int(input("請輸入正整數n的值:"))
while i<=n:
  total *=i
print("%d!=%d%"(n,total))

請輸入正整數n的值:45

In [ ]:
at=0
bt=0
n=0
while n <=50:
  if n%2==1:
    at+=n
    n+=1
  else:
    bt+=n
    n+=1
print("0~50的偶數和是",bt,sep="")
print("0~50的奇數和是",at,sep="")

0~50的偶數和是650
0~50的奇數和是625

In [ ]:
a=int(input("請輸入一個正整數:"))
while a>=1:
  for i in range(1,a+1):
    print("*",end="")
  a-=1
  print('')

請輸入一個正整數:4
****
***
**
*

In [ ]:
a=0
for i in range(1,101):
  if i%3==0 or i%7==0:
    a+=i
  print("數值1~100中,是3或7的倍數的總和=",a,sep="")

數值1~100中,是3或7的倍數的總和=0
數值1~100中,是3或7的倍數的總和=0
數值1~100中,是3或7的倍數的總和=3
數值1~100中,是3或7的倍數的總和=3
數值1~100中,是3或7的倍數的總和=3
數值1~100中,是3或7的倍數的總和=9
數值1~100中,是3或7的倍數的總和=16
數值1~100中,是3或7的倍數的總和=16
數值1~100中,是3或7的倍數的總和=25
數值1~100中,是3或7的倍數的總和=25
數值1~100中,是3或7的倍數的總和=25
數值1~100中,是3或7的倍數的總和=37
數值1~100中,是3或7的倍數的總和=37
數值1~100中,是3或7的倍數的總和=51
數值1~100中,是3或7的倍數的總和=66
數值1~100中,是3或7的倍數的總和=66
數值1~100中,是3或7的倍數的總和=66
數值1~100中,是3或7的倍數的總和=84
數值1~100中,是3或7的倍數的總和=84
數值1~100中,是3或7的倍數的總和=84
數值1~100中,是3或7的倍數的總和=105
數值1~100中,是3或7的倍數的總和=105
數值1~100中,是3或7的倍數的總和=105
數值1~100中,是3或7的倍數的總和=129
數值1~100中,是3或7的倍數的總和=129
數值1~100中,是3或7的倍數的總和=129
數值1~100中,是3或7的倍數的總和=156
數值1~100中,是3或7的倍數的總和=184
數值1~100中,是3或7的倍數的總和=184
數值1~100中,是3或7的倍數的總和=214
數值1~100中,是3或7的倍數的總和=214
數值1~100中,是3或7的倍數的總和=214
數值1~100中,是3或7的倍數的總和=247
數值1~100中,是3或7的倍數的總和=247
數值1~100中,是3或7的倍數的總和=282
數值1~100中,是3或7的倍數的總和=318
數值1~100中,是3或7的倍數的總和=318
數值1~100中,是3或7的倍數的總和=318
數值1~100中,是3或7的倍數的總和=357
數值1~100中,是3或7的倍數的總和=357
數值1~100中,是3或7的倍數的總和=357
數值1~100中,是3或7的倍數的總和=399
數值1~100中,是3或7的倍數的總和=399
數值1~100中,是3或7的倍數的總和=399
數值1~100中,是3或7的倍數的總和=444
數值1~100中,是3或7的倍數的總和=444
數值1~100中,是3或7的倍數的總和=444
數值1~100中,是3或7的倍數的總和=492
數值1~100中,是3或7的倍數的總和=541
數值1~100中,是3或7的倍數的總和=541
數值1~100中,是3或7的倍數的總和=592
數值1~100中,是3或7的倍數的總和=592
數值1~100中,是3或7的倍數的總和=592
數值1~100中,是3或7的倍數的總和=646
數值1~100中,是3或7的倍數的總和=646
數值1~100中,是3或7的倍數的總和=702
數值1~100中,是3或7的倍數的總和=759
數值1~100中,是3或7的倍數的總和=759
數值1~100中,是3或7的倍數的總和=759
數值1~100中,是3或7的倍數的總和=819
數值1~100中,是3或7的倍數的總和=819
數值1~100中,是3或7的倍數的總和=819
數值1~100中,是3或7的倍數的總和=882
數值1~100中,是3或7的倍數的總和=882
數值1~100中,是3或7的倍數的總和=882
數值1~100中,是3或7的倍數的總和=948
數值1~100中,是3或7的倍數的總和=948
數值1~100中,是3或7的倍數的總和=948
數值1~100中,是3或7的倍數的總和=1017
數值1~100中,是3或7的倍數的總和=1087
數值1~100中,是3或7的倍數的總和=1087
數值1~100中,是3或7的倍數的總和=1159
數值1~100中,是3或7的倍數的總和=1159
數值1~100中,是3或7的倍數的總和=1159
數值1~100中,是3或7的倍數的總和=1234
數值1~100中,是3或7的倍數的總和=1234
數值1~100中,是3或7的倍數的總和=1311
數值1~100中,是3或7的倍數的總和=1389
數值1~100中,是3或7的倍數的總和=1389
數值1~100中,是3或7的倍數的總和=1389
數值1~100中,是3或7的倍數的總和=1470
數值1~100中,是3或7的倍數的總和=1470
數值1~100中,是3或7的倍數的總和=1470
數值1~100中,是3或7的倍數的總和=1554
數值1~100中,是3或7的倍數的總和=1554
數值1~100中,是3或7的倍數的總和=1554
數值1~100中,是3或7的倍數的總和=1641
數值1~100中,是3或7的倍數的總和=1641
數值1~100中,是3或7的倍數的總和=1641
數值1~100中,是3或7的倍數的總和=1731
數值1~100中,是3或7的倍數的總和=1822
數值1~100中,是3或7的倍數的總和=1822
數值1~100中,是3或7的倍數的總和=1915
數值1~100中,是3或7的倍數的總和=1915
數值1~100中,是3或7的倍數的總和=1915
數值1~100中,是3或7的倍數的總和=2011
數值1~100中,是3或7的倍數的總和=2011
數值1~100中,是3或7的倍數的總和=2109
數值1~100中,是3或7的倍數的總和=2208
數值1~100中,是3或7的倍數的總和=2208

In [ ]:
i=0
result=0
while i <=50:
  if i %2 ==0:
    result += i 
  i+=1
print("0~50的偶數和結果是%d"%result)

0~50的偶數和結果是650

In [ ]:
i=0
result=0
while i <=50:
  if i %2==0:
    result += i 
  i +=1
print("0~50的偶數和結果是%d"%result)

0~50的偶數和結果是650

In [ ]:
n = int(input("請輸入正整數:"))
for i in range(1,n+1):
  for j in range(i,n+1):
    print("*",end="")
  print()

請輸入正整數:10
**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
sum=0
for i in range(0,101):
  if(i%3==0 or i%7==0):
    sum += i
print("數值1~100中,所有是3或7倍數之總和=",sum)

數值1~100中,所有是3或7倍數之總和= 2208

In [ ]:
p=1
counter=0
n=int(input("請輸入正整數:"))
print(n,"的因數有",end="")
while(p<=n):
  if(n%p==0):
    print(p,end="")
    counter+=1
  p+=1

print()
if(counter==2):
  print(n,"是質數")
else:
  print(n,"不是質數")

請輸入正整數:3
3 的因數有13
3 是質數

In [ ]:
list1 = [1,2,3,4,5]

In [ ]:
list1

[1, 2, 3, 4, 5]

In [ ]:
list2 = ["香蕉","蘋果","橘子"]

In [ ]:
list2

['香蕉', '蘋果', '橘子']

In [ ]:
list3 = [1,"香蕉",True]

In [ ]:
list3

[1, '香蕉', True]

In [ ]:
print(list1[0])

1

In [ ]:
print(list1[0])
print(list1[1])

1
2

In [ ]:
list5=[["tom","1234"]],["mary","abcd"],["david","5678"]

In [ ]:
print(list5[1])

['mary', 'abcd']

In [ ]:
print(list5[0])

[['tom', '1234']]

In [ ]:
print(list5[1][1])

abcd

In [ ]:
print(list5[0])

[['tom', '1234']]

In [ ]:
print(list5[0][0])

['tom', '1234']

In [ ]:
print(list5[0][0])

['tom', '1234']

In [ ]:
print(list5[1][0])

mary

In [ ]:
scores=[85,79,93]
print("國文成績:%d分" % scores[0])
print("數學成績:%d分" % scores[1])
print("英文成績:%d分" % scores[2])

國文成績:85分
數學成績:79分
英文成績:93分

In [ ]:
list6=[1,2,3,4,5]

In [ ]:
print(list6[0])

1

In [ ]:
list6[0]=9

In [ ]:
print(list6[0])

9

In [ ]:
print(list6)

[9, 2, 3, 4, 5]

In [ ]:
list7=['香蕉',"蘋果","橘子"]

In [ ]:
for s in list7:
  print(s,end=",")

香蕉,蘋果,橘子,

In [ ]:
items=[123,"apple",True]
for item in items:
  print(item)

123
apple
True

In [ ]:
scores=[85,79,93]

In [ ]:
print(len(scores))

3

In [ ]:
scores=[85,79,93]
for i in range(len(scores)):
   print(scores[i])

85
79
93